@using final_project.Data.Entities
@model IEnumerable<final_project.Data.Entities.Order>

@{
    ViewData["Title"] = "Завършени поръчки";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h2 class="text-center my-5">Вашите завършени поръчки</h2>
            <table class="table text-center">
                <thead>
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Град</th>
                    <th scope="col">Доставчик</th>
                    <th scope="col">Детайли за продуктите</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Обща цена</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(item => order.OrderDate)
                        </td>
                        <td>
                            @Html.DisplayFor(item => order.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(item => order.Town)
                        </td>
                        <td>
                            @Html.DisplayFor(item => order.Courier)
                        </td>
                        <td>
                            @Html.ActionLink("Детайли", "OrderDetails", "Order", new { orderId = order.Id })
                        </td>
                        @if (order.OrderStatus == OrderStatusEnum.Received)
                        {
                            <td>
                                Получена
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(item => order.TotalCost)
                            <span> лв.</span>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>