@model final_project.Models.ProfileModel

@{
    ViewData["Title"] = "Профил";
}

<h2 class="text-center my-5">
    Вашата информация
</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <div class="form-group my-1">
                <label asp-for="FirstName"></label>
                @Html.DisplayFor(item => Model.FirstName)
            </div>
            <div class="form-group my-1">
                <label asp-for="LastName"></label>
                @Html.DisplayFor(item => Model.LastName)
            </div>
            <div class="form-group my-1">
                <label asp-for="Address"></label>
                @Html.DisplayFor(item => Model.Address)
            </div>
            <div class="form-group my-1">
                <label asp-for="Email"></label>
                @Html.DisplayFor(item => Model.Email)
            </div>
        </div>
        <div class="text-center">
            @Html.ActionLink("Редактиране на профила", "UpdateProfile", "Authentication", new { username = Model.Username }, new { @class = "btn btn-secondary mt-3" })
        </div>
        <div class="text-center">
            @Html.ActionLink("Назад към началната страница", "Index", "Home", new {  }, new { @class = "btn btn-secondary mt-3" })
        </div>
        <div class="col-3"></div>
    </div>
</div>