@model final_project.Models.CartModel;

@{
    ViewData["Title"] = "Потребителски кошница";
}

@* TODO: make the table responsive *@
@if (Model.Items.Count == 0)
{
    <h1 class="text-center">
        Количката е празна!
    </h1>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 class="text-center">Продукти в количката</h2>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">Име на продукта</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Междинна сума</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var cart in Model.Items)
                    {
                        <tr id="item-row_@cart.Product.Id">
                            <td>
                                @Html.DisplayFor(item => cart.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(item => cart.Product.Price)
                                <span> лв.</span>
                            </td>
                            <td>
                                <span id="quantity_@cart.Product.Id">@cart.Quantity</span>
                            </td>
                            <td>
                                <span id="subTotal_@cart.Product.Id">@cart.SubTotal</span>
                                <span> лв.</span>
                            </td>
                            <td>
                                <button onclick="increaseQuantity(@cart.Product.Id, @cart.Product.Stock)" class="btn btn-primary">+</button>
                                <button onclick="decreaseQuantity(@cart.Product.Id)" class="btn btn-danger">-</button>
                            </td>
                            <td>
                                <button onclick="removeItem(@cart.Product.Id)" class="btn btn-danger">Премахване</button>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="5" style="text-align: right">
                            <span>Дължима сума: <span id="total">@ViewBag.total</span><span> лв.</span></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form method="post" asp-action="Pay" asp-controller="Payment" class="mt-5">

                    <div class="form-group">
                        <input type="text" asp-for="User.Username" id="username" class="form-control d-none"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary mt-4 form-control" value="Поръчка" id="submitBtn">
                    </div>
                </form>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
}


@section Scripts
{
    <script>
        function increaseQuantity(productId, stock){
            var quantityElement = document.getElementById('quantity_' + productId);
            var quantity = parseInt(quantityElement.innerHTML);
            quantityElement.innerHTML = quantity;
            
            if(quantity < stock){
                quantity += 1;
                quantityElement.innerHTML = quantity;
                
                $.ajax({
                   url: '/Cart/IncreaseQuantity/' + productId,
                   type: 'POST',
                   success: function (data){
                    var subTotalElement = document.getElementById('subTotal_' + productId);
                    var totalElement = document.getElementById('total');
                    subTotalElement.innerHTML = data.subTotal.toFixed(2);
                    totalElement.innerHTML = data.total.toFixed(2);
                },
                error: function (){
                       
                }
                });
            }
        }
        
        function decreaseQuantity(productId){
            var quantityElement = document.getElementById('quantity_' + productId);
            var quantity = parseInt(quantityElement.innerHTML) - 1;
            
            if (quantity > 0){
                quantityElement.innerHTML = quantity;
                
                $.ajax({
                    url: '/Cart/ReduceQuantity/' + productId,
                    type: 'POST',
                    success: function (data){
                        var subTotalElement = document.getElementById('subTotal_' + productId);
                        var totalElement = document.getElementById('total');
                        subTotalElement.innerHTML = data.subTotal.toFixed(2);
                        totalElement.innerHTML = data.total.toFixed(2);
                    },
                    error: function (){
                
                    }
                });
            }
        }
        
        function removeItem(productId){
            var itemElement = document.getElementById('item-row_' + productId);
            itemElement.classList.add("d-none");
            
            $.ajax({
                url: '/Cart/RemoveFromCart/' + productId,
                type: 'POST',
                success: function (data){
                    var totalElement = document.getElementById('total');
                    totalElement.innerHTML = data.total.toFixed(2);
                },
                error(){
                        
                }
            });
        }
        function checkValue(){
            var toggle = document.getElementById('flexSwitchCheckDefault');
            var fName = document.getElementById('firstName');
            var lName = document.getElementById('lastName');
            
            if (toggle.checked){
                fName.value = "@Model.User.FirstName";
                lName.value = "@Model.User.LastName";
                fName.readOnly = true;
                lName.readOnly = true;
            }
            else{
                fName.readOnly = false;
                fName.value = "";
                
                lName.readOnly = false;
                lName.value = "";
            }
        }
        
        function switchButtonName(){
             var radioCardOption = document.getElementById('creditDebitCard');
             var radioCashOption = document.getElementById('cashOnDelivery');
             var submitButton = document.getElementById('submitBtn');
             
             if (radioCardOption.checked){
                 submitButton.value = "Плащане";
             }
             if (radioCashOption.checked){
                 submitButton.value = "Поръчка";
             }
        }
    </script>
}