@model final_project.ViewModels.ProductViewModel

<div class="card border-dark mx-3" style="width: 18rem;">
    <img class="card-img-top" src="@Model.Image" alt="Product image">
    <div class="label-top shadow-sm">
        <a class="text-white" style="text-decoration: none">@Model.Manufacturer.Name</a>
    </div>
    <div class="card-body">
        <div class="clearfix mb-3">
            <span class="float-start badge rounded-pill bg-success">@Model.Price лв.</span>
        </div>
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
        @Html.ActionLink("Add to Cart", "AddToCart", "Cart", new { id = @Model.Id }, new { @class = "btn btn-warning" })
    </div>
</div>