@model final_project.ViewModels.ProductViewModel

<div class="col hp d-flex">
    <div class="card-custom shadow-sm flex-grow-1">
        <a href="#">
            <img class="card-img-top-custom" src="@Model.Image" alt="Product image"/>
        </a>
        <div class="label-top shadow-sm">
            <a class="text-white" style="text-decoration: none">@Model.Manufacturer.Name</a>
        </div>
        <div class="card-body">
            <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-success-custom">@Model.Price лв.</span>
            </div>
            <h5 class="card-title text-navbar">
                <strong>@Model.Name</strong>
            </h5>

            <p class="card-text text-navbar height-fix mb-5">@Model.Description</p>
            <div class="d-grid gap-2 my-4">
                @if (Context.User.Identity!.IsAuthenticated)
                {
                    @Html.ActionLink("Добавяне в количката", "AddToCart", "Cart", new { id = @Model.Id }, new { @class = "btn-custom btn-warning-custom bold-btn" })
                }
                else
                {
                    @Html.ActionLink("Добавяне в количката", "Register", "Authentication", new { beforePath = "/Product/Index" }, new { @class = "btn-custom btn-warning-custom bold-btn" })
                }
            </div>
        </div>
    </div>
</div>