@model final_project.ViewModels.ProductViewModel

<div class="col hp">
    <div class="card-custom h-100 shadow-sm">
        <a href="#">
            <img class="card-img-top-custom" src="@Model.Image" alt="Product image"/>
            @* <img src="https://m.media-amazon.com/images/I/81gK08T6tYL._AC_SL1500_.jpg" class="card-img-top-custom" alt="product.title" /> *@
        </a>

        <div class="label-top shadow-sm">
            <a class="text-white" style="text-decoration: none">@Model.Manufacturer.Name</a>
            @* <a class="text-white" href="#">asus</a> *@
        </div>
        <div class="card-body">
            <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-success-custom">@Model.Price</span>
                @* <span class="float-start badge rounded-pill bg-success">1.245$</span> *@

                @* <span class="float-end"><a href="#" class="small text-muted text-uppercase aff-link">reviews</a></span> *@
            </div>
            <h5 class="card-title"><strong>@Model.Name</strong></h5>
            
            <p class="card-text">@Model.Description</p>

            @* <h5 class="card-title"> *@
            @*     <a target="_blank" href="#">ASUS TUF FX505DT Gaming Laptop- 15.6", 120Hz Full HD, AMD Ryzen 5 R5-3550H Processor, GeForce GTX 1650 Graphics, 8GB DDR4, 256GB PCIe SSD, RGB Keyboard, Windows 10 64-bit - FX505DT-AH51</a> *@
            @* </h5> *@

            <div class="d-grid gap-2 my-4">
                @Html.ActionLink("Add to Cart", "AddToCart", "Cart", new { id = @Model.Id }, new { @class = "btn-custom btn-warning-custom bold-btn" })
                @* <a href="#" class="btn btn-warning bold-btn">add to cart</a> *@
            </div>
        </div>
    </div>
</div>