@model final_project.Models.CartModel;

@{
    ViewData["Title"] = "Потребителскa кошница";
}

@if (Model.Items.Count == 0)
{
    <h2 class="text-center h1 my-5">
        Количката е празна!
    </h2>
    <div class="text-center">
        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Продължете пазаруването</a>
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <h2 class="text-center mt-4 mb-3">Продукти в количката</h2>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">Име на продукта</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Междинна сума</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var cart in Model.Items)
                    {
                        <tr id="item-row_@cart.Product.Id">
                            <td>
                                @Html.DisplayFor(item => cart.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(item => cart.Product.Price)
                                <span> лв.</span>
                            </td>
                            <td>
                                <span id="quantity_@cart.Product.Id">@cart.Quantity</span>
                            </td>
                            <td>
                                <span id="subTotal_@cart.Product.Id">@cart.SubTotal</span>
                                <span> лв.</span>
                            </td>
                            <td>
                                <button onclick="increaseQuantity(@cart.Product.Id, @cart.Product.Stock)" class="btn btn-primary">+</button>
                                <button onclick="decreaseQuantity(@cart.Product.Id)" class="btn btn-danger">-</button>
                            </td>
                            <td>
                                <button onclick="removeItem(@cart.Product.Id)" class="btn btn-danger">Премахване</button>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="5" style="text-align: right">
                            <span>Дължима сума: <span id="total">@ViewBag.total</span><span> лв.</span></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <form method="post" action="/Order/Index" class="mt-5" id="orderForm">
                    <div class="row">
                        <div class="col-lg-6 mb-5">
                            <h2 class="text-center mb-3">Информация за доставката</h2>
                            <div class="form-check form-switch mb-3">
                                <input class="form-check-input" onclick="checkValue()" type="checkbox" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Да се използват ли данните от Вашия профил за оформянe на поръчката?</label>
                            </div>
                            <div class="form-group">
                                <input type="text" asp-for="User.Username" id="username" class="form-control d-none"/>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="User.FirstName" for="firstName">Име </label>
                                <span class="text-danger">*</span>
                                <input type="text" asp-for="User.FirstName" id="firstName" class="form-control" value="" required/>
                                <p>
                                    <span asp-validation-for="User.FirstName" class="text-danger"></span>
                                </p>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="User.LastName" for="lastName">Фамилия </label>
                                <span class="text-danger">*</span>
                                <input type="text" asp-for="User.LastName" id="lastName" class="form-control" value="" required/>
                                <p>
                                    <span asp-validation-for="User.LastName" class="text-danger"></span>
                                </p>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="DeliveryInformation.Town" for="town">Град </label>
                                <span class="text-danger">*</span>
                                <input type="text" asp-for="DeliveryInformation.Town" id="town" class="form-control" required/>
                                <p>
                                    <span asp-validation-for="DeliveryInformation.Town" class="text-danger"></span>
                                </p>
                            </div>
                            <div class="form-group mb-3">
                                <label asp-for="DeliveryInformation.Address" for="address">Адрес </label>
                                <span class="text-danger">*</span>
                                <input type="text" asp-for="DeliveryInformation.Address" id="address" class="form-control" required/>
                                <p>
                                    <span asp-validation-for="DeliveryInformation.Address" class="text-danger"></span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label asp-for="DeliveryInformation.PhoneNumber" for="phoneNumber">Телефонен номер </label>
                                <span class="text-danger">*</span>
                                <input type="text" asp-for="DeliveryInformation.PhoneNumber" id="phoneNumber" class="form-control" required/>
                                <p>
                                    <span asp-validation-for="DeliveryInformation.PhoneNumber" class="text-danger"></span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 px-lg-5">
                            <div class="mb-5">
                                <h2 class="text-center">Метод на плащане</h2>
                                <div class="px-4">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="DeliveryInformation.PaymentMethod" type="radio" id="cashOnDelivery" value="cash" checked onchange="switchButtonName()">
                                        <label class="form-check-label" asp-for="DeliveryInformation.PaymentMethod" for="cashOnDelivery">
                                            Наложен платеж
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="DeliveryInformation.PaymentMethod" type="radio" id="creditDebitCard" value="card" onchange="switchButtonName()">
                                        <label class="form-check-label" asp-for="DeliveryInformation.PaymentMethod" for="creditDebitCard">
                                            Кредитна или дебитна карта
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <h2 class="text-center">Предпочитан куриер</h2>
                                <div class="px-4">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="DeliveryInformation.Courier" type="radio" id="econt" value="Еконт" checked>
                                        <label class="form-check-label" asp-for="DeliveryInformation.Courier" for="econt">
                                            Еконт
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="DeliveryInformation.Courier" type="radio" id="speedy" value="Спиди">
                                        <label class="form-check-label" asp-for="DeliveryInformation.Courier" for="speedy">
                                            Спиди
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" class="btn btn-primary mt-4" value="Поръчка" id="submitBtn">
                            </div>
                            <div class="text-center my-2">или</div>
                            <div class=" form-group text-center mb-4">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Продължете пазаруването</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
}


@section Scripts
{
    <script>
        function increaseQuantity(productId, stock){
            var quantityElement = document.getElementById('quantity_' + productId);
            var quantity = parseInt(quantityElement.innerHTML);
            quantityElement.innerHTML = quantity;
            
            if(quantity < stock){
                quantity += 1;
                quantityElement.innerHTML = quantity;
                
                $.ajax({
                   url: '/Cart/IncreaseQuantity/' + productId,
                   type: 'POST',
                   success: function (data){
                    var subTotalElement = document.getElementById('subTotal_' + productId);
                    var totalElement = document.getElementById('total');
                    subTotalElement.innerHTML = data.subTotal.toFixed(2);
                    totalElement.innerHTML = data.total.toFixed(2);
                },
                error: function (){
                       
                }
                });
            }
        }
        
        function decreaseQuantity(productId){
            var quantityElement = document.getElementById('quantity_' + productId);
            var quantity = parseInt(quantityElement.innerHTML) - 1;
            
            if (quantity > 0){
                quantityElement.innerHTML = quantity;
                
                $.ajax({
                    url: '/Cart/ReduceQuantity/' + productId,
                    type: 'POST',
                    success: function (data){
                        var subTotalElement = document.getElementById('subTotal_' + productId);
                        var totalElement = document.getElementById('total');
                        subTotalElement.innerHTML = data.subTotal.toFixed(2);
                        totalElement.innerHTML = data.total.toFixed(2);
                    },
                    error: function (){
                
                    }
                });
            }
        }
        
        function removeItem(productId){
            var itemElement = document.getElementById('item-row_' + productId);
            itemElement.classList.add("d-none");
            
            $.ajax({
                url: '/Cart/RemoveFromCart/' + productId,
                type: 'POST',
                success: function (data){
                    var totalElement = document.getElementById('total');
                    totalElement.innerHTML = data.total.toFixed(2);
                },
                error(){
                        
                }
            });
        }
        function checkValue(){
            var toggle = document.getElementById('flexSwitchCheckDefault');
            var fName = document.getElementById('firstName');
            var lName = document.getElementById('lastName');
            
            if (toggle.checked){
                fName.value = "@Model.User.FirstName";
                lName.value = "@Model.User.LastName";
                fName.readOnly = true;
                lName.readOnly = true;
            }
            else{
                fName.readOnly = false;
                fName.value = "";
                
                lName.readOnly = false;
                lName.value = "";
            }
        }
        
        function switchButtonName(){
             var radioCardOption = document.getElementById('creditDebitCard');
             var radioCashOption = document.getElementById('cashOnDelivery');
             var submitButton = document.getElementById('submitBtn');
             var form = document.getElementById('orderForm')
             
             if (radioCardOption.checked){
                 submitButton.value = "Към плащането";
                 form.action = "/Payment/Pay"
             }
             if (radioCashOption.checked){
                 submitButton.value = "Поръчка";
                 form.action = "/Order/Index"
             }
        }
    </script>
}