@model final_project.Models.CartModel;

@{
    ViewData["Title"] = "Shopping cart";
}

@* TODO: make the table responsive *@
<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2 class="text-center">Shopping cart info</h2>
            <table class="table text-center">
                <thead>
                <tr>
                    <th scope="col">Product name</th>
                    <th scope="col">Product price</th>
                    <th scope="col">Product quantity</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var cart in Model.Items)
                {
                    <tr id="item-row_@cart.Product.Id">
                        <td>
                            @Html.DisplayFor(item => cart.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(item => cart.Product.Price)
                        </td>
                        <td>
                            <span id="quantity_@cart.Product.Id">@cart.Quantity</span>
                            @* @Html.DisplayFor(item => cart.Quantity) *@
                        </td>
                        <td>
                            <span id="subTotal_@cart.Product.Id">@cart.SubTotal</span>
                            @* @Html.DisplayFor(item => cart.SubTotal) *@
                        </td>
                        <td>
                            <button onclick="increaseQuantity(@cart.Product.Id, @cart.Product.Stock)" class="btn btn-primary">+</button>
                            <button onclick="decreaseQuantity(@cart.Product.Id)" class="btn btn-danger">-</button>
                            @* @Html.ActionLink("+", "IncreaseQuantity", "Cart", new { id = cart.Product.Id }, new { @class = "btn btn-primary increase-quantity" }) *@
                            @* @Html.ActionLink("-", "ReduceQuantity", "Cart", new { id = cart.Product.Id }, new { @class = "btn btn-danger" }) *@
                        </td>
                        <td>
                            <button onclick="removeItem(@cart.Product.Id)" class="btn btn-danger">Remove</button>
                            @* @Html.ActionLink("Remove", "RemoveFromCart", "Cart", new { id = cart.Product.Id }, new { @class = "btn btn-danger" }) *@
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="5" style="text-align: right">
                        <span>Total: <span id="total">@ViewBag.total</span></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <form method="post" asp-action="Index" asp-controller="Order">
                <div class="row">
                    <div class="col-3"></div>
                    <h2>Delivery Information</h2>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="text" asp-for="User.Username" id="username" class="form-control d-none" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="User.FirstName" for="firstName">First name: </label>
                            <input type="text" asp-for="User.FirstName" id="firstName" class="form-control" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="User.LastName" for="lastName">Last name: </label>
                            <input type="text" asp-for="User.LastName" id="lastName" class="form-control" readonly="readonly"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="DeliveryInformation.Town" for="town">Town: </label>
                            <input type="text" asp-for="DeliveryInformation.Town" id="town" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="DeliveryInformation.Address" for="address">Address: </label>
                            <input type="text" asp-for="DeliveryInformation.Address" id="address" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="DeliveryInformation.PhoneNumber" for="phoneNumber">Phone number: </label>
                            <input type="text" asp-for="DeliveryInformation.PhoneNumber" id="phoneNumber" class="form-control"/>
                        </div>
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            <div class="form-group">
                                <input type="number" asp-for="Items[i].Product.Id" class="form-control d-none" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <input type="number" asp-for="Items[i].Product.Price" class="form-control d-none" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <input type="number" asp-for="Items[i].Quantity" class="form-control d-none" readonly="readonly"/>
                            </div>
                            <div class="form-group">
                                <input type="number" step="0.01" asp-for="Items[i].SubTotal" class="form-control d-none" readonly="readonly"/>
                            </div>
                        }
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary form-control" value="Order">
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>


@section Scripts
{
    <script>
        function increaseQuantity(productId, stock){
            var quantityElement = document.getElementById('quantity_' + productId);
            var quantity = parseInt(quantityElement.innerHTML);
            quantityElement.innerHTML = quantity;
            
            if(quantity < stock){
                quantity += 1;
                quantityElement.innerHTML = quantity;
                
                $.ajax({
                   url: '/Cart/IncreaseQuantity/' + productId,
                   type: 'POST',
                   success: function (data){
                    var subTotalElement = document.getElementById('subTotal_' + productId);
                    var totalElement = document.getElementById('total');
                    subTotalElement.innerHTML = data.subTotal.toFixed(2);
                    totalElement.innerHTML = data.total.toFixed(2);
                },
                error: function (){
                       
                }
                });
            }
        }
        
        function decreaseQuantity(productId){
            var quantityElement = document.getElementById('quantity_' + productId);
            var quantity = parseInt(quantityElement.innerHTML) - 1;
            
            if (quantity > 0){
                quantityElement.innerHTML = quantity;
                
                $.ajax({
                    url: '/Cart/ReduceQuantity/' + productId,
                    type: 'POST',
                    success: function (data){
                        var subTotalElement = document.getElementById('subTotal_' + productId);
                        var totalElement = document.getElementById('total');
                        subTotalElement.innerHTML = data.subTotal.toFixed(2);
                        totalElement.innerHTML = data.total.toFixed(2);
                    },
                    error: function (){
                
                    }
                });
            }
        }
        
        function removeItem(productId){
            var itemElement = document.getElementById('item-row_' + productId);
            itemElement.classList.add("d-none");
            
            $.ajax({
                url: '/Cart/RemoveFromCart/' + productId,
                type: 'POST',
                success: function (data){
                    var totalElement = document.getElementById('total');
                    totalElement.innerHTML = data.total.toFixed(2);
                },
                error(){
                        
                }
            });
        }
    </script>
}