@using final_project.Data.Entities
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<final_project.Models.CartItemModel>;

@{
    ViewData["Title"] = "Shopping cart";
}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2 class="text-center">Shopping cart info</h2>
            <table class="table text-center">
                <thead>
                <tr>
                    <th>Product name</th>
                    <th>Product price</th>
                    <th>Product quantity</th>
                    <th>Subtotal</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var cart in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(item => cart.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(item => cart.Product.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(item => cart.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(item => cart.SubTotal)
                        </td>
                        <td>
                            @Html.ActionLink("+", "IncreaseQuantity", "Cart", new { id = cart.Product.Id }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("-", "ReduceQuantity", "Cart", new { id = cart.Product.Id }, new { @class = "btn btn-danger" })
                        </td>
                        <td>
                            @Html.ActionLink("Remove", "RemoveFromCart", "Cart", new { id = cart.Product.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="5" style="text-align: right">
                        Total: @ViewBag.total
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>