@model final_project.ViewModels.ReturnPaginatedOrdersViewModel

@{
    ViewData["Title"] = "Поръчки за изпращане";
}

@if (Model.Orders.Count() == 0)
{
    <h2 class="text-center my-5">Няма поръчки за изпращане</h2>
    <div class="text-center">
        @Html.ActionLink("Обратно към статуса на поръчките", "StatusOrders", "Admin", new { }, new { @class = "btn btn-primary my-5" })
    </div>
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2 class="text-center my-5">Поръчки за изпращане</h2>
                <table class="table text-center">
                    <thead>
                    <tr>
                        <th scope="col">Номер на поръчката</th>
                        <th scope="col">Потребител</th>
                        <th scope="col">Обща цена</th>
                        <th scope="col">Детайли за поръчката</th>
                        <th scope="col">Изпращане на поръчка</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(item => order.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(item => order.User.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(item => order.TotalCost)
                                <span> лв.</span>
                            </td>
                            <td>
                                @Html.ActionLink("Информация", "OrderInformation", "Order", new { orderId = order.Id }, new { @class = "" })
                            </td>
                            <td>
                                @Html.ActionLink("Изпращане", "SendOrder", "Order", new { orderId = order.Id }, new { @class = "btn btn-primary" })
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div class="d-flex justify-content-center my-4">
                    <partial name="_Pagination" model="Model.PaginationProperties"/>
                </div>
                <div class="text-center">
                    @Html.ActionLink("Обратно към статуса на поръчките", "StatusOrders", "Admin", new { }, new { @class = "btn btn-primary my-5" })
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
}