@model final_project.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Изтриване на продукт";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h2 class="text-center mt-5 mb-4">Изтриване на продукт</h2>
            <form method="post" asp-controller="Product" asp-action="DeleteProduct">
                <div class="form-group my-4">
                    <label for="id" asp-for="Id">Идентификационен номер: </label>
                    <input type="number" asp-for="Id" id="id" class="form-control" value="@Model.Id" readonly="readonly">
                </div>
                <div class="form-group my-4">
                    <label for="name" asp-for="Name">Име: </label>
                    <input type="text" asp-for="Name" id="name" class="form-control" value="@Model.Name" readonly="readonly">
                </div>
                <div class="form-group my-4">
                    <label for="description" asp-for="Description">Описание: </label>
                    <input type="text" asp-for="Description" id="description" class="form-control" value="@Model.Description" readonly="readonly">
                </div>
                <div class="form-group my-4">
                    <label for="stock" asp-for="Stock">Налично количество: </label>
                    <input type="number" min="0" asp-for="Stock" id="stock" class="form-control" value="@Model.Stock" readonly="readonly">
                </div>
                <div class="form-group my-4">
                    <label for="price" asp-for="Price">Цена: </label>
                    <input type="number" min="0" step="any" asp-for="Price" id="price" class="form-control" value="@Model.Price" readonly="readonly">
                </div>
                <div class="form-group my-4">
                    <div>
                        <a href="@Model.Image" readonly="readonly">Снимка</a>
                    </div>
                </div>
                <div class="form-group my-4">
                    <label for="manufacturer" asp-for="Manufacturer">Производител: </label>
                    <input type="text" asp-for="Manufacturer" id="manufacturer" class="form-control" value="@Model.Manufacturer.Name" readonly="readonly">
                </div>
                <div class="form-group my-4">
                    <label for="category" asp-for="Category">Категория: </label>
                    <input type="text" asp-for="Category" id="category" class="form-control" value="@Model.Category.Name" readonly="readonly">
                </div>
                <div class="form-group my-4">
                    <input type="submit" class="btn btn-danger form-control" value="Изтриване">
                </div>
            </form>
            <div class="form-group text-center mb-5">
                <a class="btn btn-primary" href="/Product/ListProducts">Назад към всички продукти</a>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>