@model IEnumerable<final_project.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "All products";
}

@* filter form *@
@* TODO: design changes *@
@using (Html.BeginForm())
{
    <div>
        @* <label>Manufacturer:</label> *@
        @* @Html.TextBox("manufacturerFilter") *@

        <label>Manufacturer:</label>
        @Html.DropDownList("manufacturerFilter", ViewBag.Manufacturers as SelectList, "All")
    </div>
    <div>
        <label>Price range:</label>
        @Html.TextBox("minPriceFilter")
        to
        @Html.TextBox("maxPriceFilter")
    </div>
    <button type="submit">Filter</button>
}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2 class="text-center">All products listed</h2>
            <div class="d-flex">
            @foreach (var product in Model)
                {
                    <partial name="_ProductInformationTemplate" model="product"/>
                    @* <tr> *@
                    @*     <td>@Html.DisplayFor(item => product.Name)</td> *@
                    @*     <td>@Html.DisplayFor(item => product.Description)</td> *@
                    @*     <td>@Html.DisplayFor(item => product.Stock)</td> *@
                    @*     <td>@Html.DisplayFor(item => product.Price)</td> *@
                    @*     <td> *@
                    @*         <a href="@Html.DisplayFor(item => product.Image)">Image</a> *@
                    @*     </td> *@
                    @*     <td>@Html.DisplayFor(item => product.Manufacturer.Name)</td> *@
                    @*     <td><a href="/Product/Read/@product.Id">Read</a> | <a href="/Product/Update/@product.Id">Update</a> | <a href="/Product/Delete/@product.Id">Delete</a></td> *@
                    @*     <td>@Html.ActionLink("Add to Cart", "AddToCart", "Cart", new { id = product.Id }, new { @class = "btn btn-primary" })</td> *@
                    @* </tr> *@
                }
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>