@model IEnumerable<final_project.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "All products";
}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2 class="text-center">All products listed</h2>
            <div><a href="/Product/Create">Create new</a></div>
            <table class="table text-center">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th></th>
                </tr>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(item => product.Name)</td>
                        <td>@Html.DisplayFor(item => product.Description)</td>
                        <td>@Html.DisplayFor(item => product.Stock)</td>
                        <td>@Html.DisplayFor(item => product.Price)</td>
                        <td><a href="@Html.DisplayFor(item => product.Image)">Image</a></td>
                        <td><a href="/Product/Read/@product.Id">Read</a> | <a href="/Product/Update/@product.Id">Update</a> | <a href="/Product/Delete/@product.Id">Delete</a></td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>